<?xml version="1.0"?>
<config>
    <modules>
        <Study_News>
            <version>1.0.3</version>
        </Study_News>
    </modules>
    <global>
        <models>
            <study_news>
                <class>Study_News_Model</class>
                <resourceModel>study_news_resource</resourceModel>
            </study_news>
            <study_news_resource>
                <class>Study_News_Model_Resource</class>
                <entities>
                    <news>
                        <table>study_news</table>
                    </news>
                </entities>
            </study_news_resource>
        </models>
        <helpers>
            <study_news>
                <class>Study_News_Helper</class>
            </study_news>
        </helpers>
        <blocks>
            <study_news>
                <class>Study_News_Block</class>
            </study_news>
        </blocks>

<!--
        <resources>
            <study_news_setup>
                <setup>
                    <module>
                        Study_News
                    </module>
                    <class>Mage_Core_Model_Resource_Setup</class>
                </setup>
            </study_news_setup>
        </resources>
//-->

        <!-- from Dmitry START //-->
        <resources>
            <study_news_setup>
                <setup>
                    <module>Study_News</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </study_news_setup>
        </resources>
        <!-- from Dmitry END //-->

        <events>
            <before_news_item_display>
                <observers>
                    <study_news>
                        <class>study_news/observer</class>
                        <method>beforeNewsDisplayed</method>
                    </study_news>
                </observers>
            </before_news_item_display>

            <controller_front_init_routers>
                <observers>
                    <study_news>
                        <class>Study_News_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </study_news>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <frontend>
        <routers>
            <study_news>
                <use>standard</use>
                <args>
                    <module>Study_News</module>
                    <frontName>news</frontName>
                </args>
            </study_news>
        </routers>
        <layout>
            <updates>
                <study_news>
                    <file>study_news.xml</file>
                </study_news>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Study_News before="Mage_adminhtml">Study_News_adminhtml</Study_News>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <study_news>
                    <file>study_news.xml</file>
                </study_news>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <news>
            <view>
                <enabled>i</enabled>
                <items_per_page>20</items_per_page>
                <days_difference>3</days_difference>
            </view>
        </news>
    </default>
</config>